<<<<<<< HEAD
body {
    background-color: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> c41ef0c33a5f004724e46132882b41080d91a5e2
}

body {
    background: #FEFAE0;
    font-family: sans-serif;
}

/* Nav bar */
.navbar {
    background-color: #606c38;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

<<<<<<< HEAD:style.css
.nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 34px;
=======
.logo {
    height: 300px;
}

.nav-list {
    list-style-type: none;

}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
>>>>>>> 62d6cea2162251fae5a982baf82d710296ca8eca:css/indexStyle.css
}

.nav-list a:hover {
    background-color: #798847;
    color: white;
}

<<<<<<< HEAD
.nav .icon {
    display: none;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}
/* ignore, for image on nav bar

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
 */
=======
/*Footer*/

footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #283618;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.footer-bottom{
    background:#18200f;
    width: 100vw;
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
}
<<<<<<< HEAD:style.css
>>>>>>> c41ef0c33a5f004724e46132882b41080d91a5e2
=======


navbar {
    display:flex;
    justify-content:space-around;
    align-items:center;
    overflow: hidden;
    font-size:2vw;    
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #283618;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
>>>>>>> 62d6cea2162251fae5a982baf82d710296ca8eca:css/indexStyle.css
