*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEFAE0;
    font-family: sans-serif;
}

/* Nav bar */
.navbar {
    background-color: #606c38;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
}

.logo {
    height: 150px;
}

.nav-list {
    list-style-type: none;
    padding: 0px 20px;

}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

/* nav bar hover over style */

.nav-list a:hover {
    display: block;
    background-color: #798847;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }

/*Footer*/

footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #283618;
    height: auto;
    width: 100vw;
    color: white;
}

.footer-container{
    background: #606c38;
    padding: 10px;
    display: flex;
}

.footer_column{
    display: flex;
    width: 250px;
    flex-direction: column;
    font-size: 14px;
    padding: 1rem;
}

.footer_column_header{
    font-weight: bold;
}

.footer_column_link {
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
  }

.footer_column_link:hover{
    opacity: 0.8;
}

.footer-bottom{
    background:#18200f;
    width: 100vw;
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
}