
/* Card background to center content on webpage*/

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
  }

/* Container to hold image captions and align them */

.caption{
    padding-left: 20px;
    padding-right: 20px;
}

/* flexbox CSS to display images and text */
* {
    box-sizing: border-box;
}

.example3-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top {
    padding: 5px;
    display: flex;
}

.column {
    float: left;
    flex: 33.33%;
    padding: 5px;
}

/* image sizing */

.image {
    
    width: 100%;
    padding: 20px;
}