
/* display image, Grid*/

.image1 { 
    display: flex;
    justify-content: center;
    align-items: center;
    Padding-top: 100px;
    gap: 50px 100px;
    justify-items: center;
    padding-bottom: 100px;
}

/* css grid containers */

.grid-container2 {
    display: grid;
    column-gap: 20px;
    gap: 50px 100px;
    grid-template-columns: 1200px 1200px 1000px;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
    padding-bottom: 100px; 
}
   
.grid-container3 {
     display: grid;
     column-gap: 20px;
     gap: 50px 100px;
     grid-template-columns: 1200px 1200px 1000px;
     grid-gap: 3px;
     justify-items: center;
     align-items: center;
     padding-bottom: 100px;
}

