*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEFAE0;
    font-family: sans-serif;
}

/* Nav bar */
.nav {
    background-color: #283618;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #435a29;
    color: white;
}

/*Footer*/

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #283618;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.footer-bottom{
    background:#18200f;
    width: 100vw;
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
}
